@charset "utf-8";

body {
	position: relative;
}
.head {
 	padding-top: 30px;
 	background-color: #343a40!important;
 	min-height: 40px;
 }
 .cart {
 	top:15px;
	position: absolute;
	right: 30px;
	padding: 10px;
}
.badge {
	position: absolute;
	top: -2px;
	right: 3px;
	color:white !important;
}
.breadcrumb {
	background-color: initial !important;
	padding: 4px 0px;
 	z-index: 10;
 }